@inherits LayoutComponentBase
<div class="header">
  <h1>Astrodaiva</h1>
  <nav>
    <a href="/">Home</a> ·
    <a href="/year">Year</a> ·
    <a href="/admin">Admin</a>
  </nav>
</div>
<div class="container">
  <div class="body">
    @Body
  </div>
</div>